In [1]:
import sys, platform
print("Python:", sys.version)
print("Platform:", platform.platform())

Python: 3.11.13 (main, Jun  5 2025, 08:14:07) [Clang 14.0.6 ]
Platform: macOS-10.15.4-x86_64-i386-64bit

In [1]:
import numpy as np
import pandas as pd
import scipy
import statsmodels.api as sm
from sklearn.linear_model import LogisticRegression

print("numpy", np.__version__)
print("pandas", pd.__version__)
print("scipy", scipy.__version__)
print("statsmodels", sm.__version__)

numpy 2.0.1
pandas 2.3.1
scipy 1.16.0
statsmodels 0.14.5

In [3]:
import pandas as pd

path = "../data/raw/"

df_main = pd.read_csv(path + "synthetic_mmm_weekly_india.csv")
df_sat  = pd.read_csv(path + "synthetic_mmm_weekly_india_SAT.csv")

In [4]:
print("Main dataset shape:", df_main.shape)
display(df_main.head())

print("\nSAT dataset shape:", df_sat.shape)
display(df_sat.head())

Main dataset shape: (11232, 28)

,Week,Geo,Brand,SKU,Sales_Units,Sales_Value,MRP,Net_Price,Feature_Flag,Display_Flag,...,FB_Banner_Content_Score,IG_Banner_Content_Score,Weighted_Distribution,Numeric_Distribution,TDP,NOS,CPI,GDP_Growth,Festival_Index,Rainfall_Index
0,2022-07-04,CENTRAL,BrandA,BrandA_SKU1,106.327944,10551.108260,99.231753,99.231753,0,0,...,74.714021,77.999979,0.326712,0.406848,36.923185,3.071753,120.954667,5.24444,1.180806,5.37845
1,2022-07-04,CENTRAL,BrandA,BrandA_SKU2,188.503304,19452.418311,103.194045,103.194045,0,0,...,74.714021,77.999979,0.326712,0.406848,36.923185,3.071753,120.954667,5.24444,1.180806,5.37845
2,2022-07-04,CENTRAL,BrandA,BrandA_SKU3,209.247921,19583.201537,93.588512,93.588512,0,0,...,74.714021,77.999979,0.326712,0.406848,36.923185,3.071753,120.954667,5.24444,1.180806,5.37845
3,2022-07-04,CENTRAL,BrandB,BrandB_SKU1,237.698249,19374.506591,81.508832,81.508832,0,0,...,74.714021,77.999979,0.326712,0.406848,36.923185,3.071753,120.954667,5.24444,1.180806,5.37845
4,2022-07-04,CENTRAL,BrandB,BrandB_SKU2,203.075116,14667.008092,72.224546,72.224546,0,0,...,74.714021,77.999979,0.326712,0.406848,36.923185,3.071753,120.954667,5.24444,1.180806,5.37845

SAT dataset shape: (11232, 28)

,Week,Geo,Brand,SKU,Sales_Units,Sales_Value,MRP,Net_Price,Feature_Flag,Display_Flag,...,FB_Banner_Content_Score,IG_Banner_Content_Score,Weighted_Distribution,Numeric_Distribution,TDP,NOS,CPI,GDP_Growth,Festival_Index,Rainfall_Index
0,2022-07-02,CENTRAL,BrandA,BrandA_SKU1,166.737425,15058.472804,90.312495,90.312495,0,0,...,75.63537,86.52171,0.456192,0.360998,33.70972,2.986547,118.843878,5.464558,0.934774,4.587544
1,2022-07-02,CENTRAL,BrandA,BrandA_SKU2,123.326990,11166.439172,90.543353,90.543353,0,0,...,75.63537,86.52171,0.456192,0.360998,33.70972,2.986547,118.843878,5.464558,0.934774,4.587544
2,2022-07-02,CENTRAL,BrandA,BrandA_SKU3,74.232953,7829.352426,105.470039,105.470039,0,0,...,75.63537,86.52171,0.456192,0.360998,33.70972,2.986547,118.843878,5.464558,0.934774,4.587544
3,2022-07-02,CENTRAL,BrandB,BrandB_SKU1,216.583770,15986.585046,73.812479,73.812479,0,0,...,75.63537,86.52171,0.456192,0.360998,33.70972,2.986547,118.843878,5.464558,0.934774,4.587544
4,2022-07-02,CENTRAL,BrandB,BrandB_SKU2,272.920195,22565.283219,82.680885,82.680885,0,0,...,75.63537,86.52171,0.456192,0.360998,33.70972,2.986547,118.843878,5.464558,0.934774,4.587544

In [5]:
print("Main dataset columns:")
display(df_main.dtypes)

print("\nSAT dataset columns:")
display(df_sat.dtypes)

Main dataset columns:

Week                        object
Geo                         object
Brand                       object
SKU                         object
Sales_Units                float64
Sales_Value                float64
MRP                        float64
Net_Price                  float64
Feature_Flag                 int64
Display_Flag                 int64
TPR_Flag                     int64
Trade_Spend                float64
TV_Impressions             float64
YouTube_Impressions        float64
Facebook_Impressions       float64
Instagram_Impressions      float64
Print_Readership           float64
Radio_Listenership         float64
FB_Banner_Content_Score    float64
IG_Banner_Content_Score    float64
Weighted_Distribution      float64
Numeric_Distribution       float64
TDP                        float64
NOS                        float64
CPI                        float64
GDP_Growth                 float64
Festival_Index             float64
Rainfall_Index             float64
dtype: object

SAT dataset columns:

Week                        object
Geo                         object
Brand                       object
SKU                         object
Sales_Units                float64
Sales_Value                float64
MRP                        float64
Net_Price                  float64
Feature_Flag                 int64
Display_Flag                 int64
TPR_Flag                     int64
Trade_Spend                float64
TV_Impressions             float64
YouTube_Impressions        float64
Facebook_Impressions       float64
Instagram_Impressions      float64
Print_Readership           float64
Radio_Listenership         float64
FB_Banner_Content_Score    float64
IG_Banner_Content_Score    float64
Weighted_Distribution      float64
Numeric_Distribution       float64
TDP                        float64
NOS                        float64
CPI                        float64
GDP_Growth                 float64
Festival_Index             float64
Rainfall_Index             float64
dtype: object

In [6]:
df_main.info()
df_sat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11232 entries, 0 to 11231
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Week                     11232 non-null  object
 1   Geo                      11232 non-null  object
 2   Brand                    11232 non-null  object
 3   SKU                      11232 non-null  object
 4   Sales_Units              11232 non-null  float64
 5   Sales_Value              11232 non-null  float64
 6   MRP                      11232 non-null  float64
 7   Net_Price                11232 non-null  float64
 8   Feature_Flag             11232 non-null  int64
 9   Display_Flag             11232 non-null  int64
 10  TPR_Flag                 11232 non-null  int64
 11  Trade_Spend              11232 non-null  float64
 12  TV_Impressions           11232 non-null  float64
 13  YouTube_Impressions      11232 non-null  float64
 14  Facebook_Impressions     11232 non-null  float64
 15  Instagram_Impressions    11232 non-null  float64
 16  Print_Readership         11232 non-null  float64
 17  Radio_Listenership       11232 non-null  float64
 18  FB_Banner_Content_Score  11232 non-null  float64
 19  IG_Banner_Content_Score  11232 non-null  float64
 20  Weighted_Distribution    11232 non-null  float64
 21  Numeric_Distribution     11232 non-null  float64
 22  TDP                      11232 non-null  float64
 23  NOS                      11232 non-null  float64
 24  CPI                      11232 non-null  float64
 25  GDP_Growth               11232 non-null  float64
 26  Festival_Index           11232 non-null  float64
 27  Rainfall_Index           11232 non-null  float64
dtypes: float64(21), int64(3), object(4)
memory usage: 2.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11232 entries, 0 to 11231
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Week                     11232 non-null  object
 1   Geo                      11232 non-null  object
 2   Brand                    11232 non-null  object
 3   SKU                      11232 non-null  object
 4   Sales_Units              11232 non-null  float64
 5   Sales_Value              11232 non-null  float64
 6   MRP                      11232 non-null  float64
 7   Net_Price                11232 non-null  float64
 8   Feature_Flag             11232 non-null  int64
 9   Display_Flag             11232 non-null  int64
 10  TPR_Flag                 11232 non-null  int64
 11  Trade_Spend              11232 non-null  float64
 12  TV_Impressions           11232 non-null  float64
 13  YouTube_Impressions      11232 non-null  float64
 14  Facebook_Impressions     11232 non-null  float64
 15  Instagram_Impressions    11232 non-null  float64
 16  Print_Readership         11232 non-null  float64
 17  Radio_Listenership       11232 non-null  float64
 18  FB_Banner_Content_Score  11232 non-null  float64
 19  IG_Banner_Content_Score  11232 non-null  float64
 20  Weighted_Distribution    11232 non-null  float64
 21  Numeric_Distribution     11232 non-null  float64
 22  TDP                      11232 non-null  float64
 23  NOS                      11232 non-null  float64
 24  CPI                      11232 non-null  float64
 25  GDP_Growth               11232 non-null  float64
 26  Festival_Index           11232 non-null  float64
 27  Rainfall_Index           11232 non-null  float64
dtypes: float64(21), int64(3), object(4)
memory usage: 2.4+ MB

In [7]:
df_main.describe().T

,count,mean,std,min,25%,50%,75%,max
Sales_Units,11232.0,4.224323e+02,329.007914,25.535563,203.969367,323.586788,5.312487e+02,3.353779e+03
Sales_Value,11232.0,3.309905e+04,27498.675570,2054.711829,15007.837952,24596.823790,4.186302e+04,3.074979e+05
MRP,11232.0,7.991171e+01,16.889088,52.759457,63.203164,80.030377,9.549679e+01,1.129726e+02
Net_Price,11232.0,7.835360e+01,16.923665,46.696772,62.671267,78.568337,9.397344e+01,1.129726e+02
Feature_Flag,11232.0,1.850962e-01,0.388393,0.000000,0.000000,0.000000,0.000000e+00,1.000000e+00
Display_Flag,11232.0,1.834936e-01,0.387088,0.000000,0.000000,0.000000,0.000000e+00,1.000000e+00
TPR_Flag,11232.0,1.578526e-01,0.364619,0.000000,0.000000,0.000000,0.000000e+00,1.000000e+00
Trade_Spend,11232.0,5.397700e+04,59637.303208,6140.424107,12673.917223,19378.931478,7.872665e+04,4.557746e+05
TV_Impressions,11232.0,1.043587e+06,976845.497965,102622.706480,444235.572901,706286.682244,1.327112e+06,7.263913e+06
YouTube_Impressions,11232.0,5.342054e+05,481418.836337,46338.661619,230233.122428,356688.448726,7.029348e+05,3.712291e+06
Facebook_Impressions,11232.0,3.209519e+05,286317.802813,14170.185475,127773.483348,223777.433087,4.198755e+05,2.312792e+06
Instagram_Impressions,11232.0,1.389363e+05,103010.038630,12882.596915,70904.254072,109296.320070,1.774061e+05,8.212855e+05
Print_Readership,11232.0,8.532476e+04,71879.522559,10148.344288,43486.434836,63118.936446,9.959776e+04,6.952048e+05
Radio_Listenership,11232.0,3.171986e+05,279487.399379,23387.680107,142606.249657,223354.616657,4.038306e+05,2.195923e+06
FB_Banner_Content_Score,11232.0,7.034091e+01,9.197061,46.951991,63.327421,70.317890,7.667311e+01,9.587303e+01
IG_Banner_Content_Score,11232.0,6.526083e+01,12.829229,29.567246,55.875976,65.704321,7.506398e+01,9.797079e+01
Weighted_Distribution,11232.0,6.214719e-01,0.162224,0.304993,0.489792,0.611913,7.344947e-01,1.000000e+00
Numeric_Distribution,11232.0,6.555931e-01,0.163261,0.285294,0.524483,0.649149,7.859180e-01,1.000000e+00
TDP,11232.0,6.751044e+01,18.654375,29.143297,52.447251,66.192002,8.102105e+01,1.164345e+02
NOS,11232.0,4.419803e+00,0.685341,2.652576,3.935697,4.399163,4.876756e+00,7.271363e+00
CPI,11232.0,1.308247e+02,7.274168,114.561767,125.192171,131.109177,1.364184e+02,1.469233e+02
GDP_Growth,11232.0,4.951270e+00,0.495805,3.653294,4.578649,4.949762,5.287799e+00,6.620930e+00
Festival_Index,11232.0,1.538062e+00,0.853530,0.855645,0.941337,1.062112,2.412943e+00,3.542418e+00
Rainfall_Index,11232.0,2.049459e+00,1.523942,0.323376,0.896604,1.221250,3.586211e+00,6.081567e+00

In [8]:
df_sat.describe().T

,count,mean,std,min,25%,50%,75%,max
Sales_Units,11232.0,4.091443e+02,306.305614,29.971872,198.665547,325.212428,5.285437e+02,3.334884e+03
Sales_Value,11232.0,3.245343e+04,27000.516407,2566.350247,14754.451778,24592.362351,4.081177e+04,2.627535e+05
MRP,11232.0,7.968707e+01,16.358434,52.906281,63.358215,79.790936,9.330816e+01,1.127837e+02
Net_Price,11232.0,7.810849e+01,16.438529,46.028997,62.805069,78.143183,9.193347e+01,1.127837e+02
Feature_Flag,11232.0,1.866987e-01,0.389687,0.000000,0.000000,0.000000,0.000000e+00,1.000000e+00
Display_Flag,11232.0,1.842949e-01,0.387742,0.000000,0.000000,0.000000,0.000000e+00,1.000000e+00
TPR_Flag,11232.0,1.586538e-01,0.365369,0.000000,0.000000,0.000000,0.000000e+00,1.000000e+00
Trade_Spend,11232.0,5.678406e+04,66045.213932,5326.099777,13014.249886,21045.395175,8.054881e+04,4.813781e+05
TV_Impressions,11232.0,1.031174e+06,894503.466163,125119.839530,444652.894772,771623.101990,1.226365e+06,6.064175e+06
YouTube_Impressions,11232.0,4.919045e+05,405251.737867,39180.104578,212679.701209,363378.924842,6.103292e+05,3.004404e+06
Facebook_Impressions,11232.0,3.890921e+05,336988.735427,36922.478257,163862.399331,277506.325263,5.043419e+05,2.800156e+06
Instagram_Impressions,11232.0,1.372901e+05,88369.160508,20539.510699,72662.788288,113585.195039,1.773006e+05,6.662642e+05
Print_Readership,11232.0,9.154712e+04,83550.305364,9924.996431,37999.572631,66694.612924,1.163697e+05,6.224346e+05
Radio_Listenership,11232.0,3.153335e+05,279159.879320,29224.267929,133376.871862,226825.040264,3.855884e+05,2.094573e+06
FB_Banner_Content_Score,11232.0,7.037243e+01,9.148711,48.560626,63.573587,70.205004,7.646816e+01,9.439758e+01
IG_Banner_Content_Score,11232.0,6.533245e+01,12.803109,30.066035,55.580581,66.091909,7.541457e+01,9.657202e+01
Weighted_Distribution,11232.0,6.469515e-01,0.167785,0.312468,0.512283,0.636878,7.660179e-01,1.000000e+00
Numeric_Distribution,11232.0,6.705079e-01,0.171485,0.313900,0.527513,0.655696,7.926859e-01,1.000000e+00
TDP,11232.0,6.504925e+01,18.578824,27.705402,50.389215,63.424177,7.777486e+01,1.157618e+02
NOS,11232.0,4.396893e+00,0.787389,2.578997,3.816038,4.348179,4.918074e+00,7.762666e+00
CPI,11232.0,1.322806e+02,7.696734,114.873524,126.449164,132.438203,1.377801e+02,1.488983e+02
GDP_Growth,11232.0,5.082094e+00,0.554610,3.488797,4.686955,5.044538,5.493578e+00,6.614460e+00
Festival_Index,11232.0,1.683299e+00,0.936699,0.934774,0.976820,1.139112,2.477604e+00,3.553047e+00
Rainfall_Index,11232.0,2.151666e+00,1.583922,0.343123,0.954376,1.285723,3.791379e+00,6.166558e+00